<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Wizard created</h1>
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>birthday</th>
            <th>birth place</th>
            <th>biography</th>
            <th>Is Muggle ?</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${wizard.firstName}"></td>
            <td th:text="${wizard.lastName}"></td>
            <td th:text="${wizard.birthday}"></td>
            <td th:text="${wizard.birthPlace}"></td>
            <td th:text="${wizard.biography}"></td>
            <td th:text="${wizard.isMuggle}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>